
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Child Registration</title>
</head>
<body>
    <h1 style="color:blue; text-align:center">Child Registration</h1>
    <form action = "{{ url_for('signupComplete') }}" method="POST">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-6">
                    <label for="first">Child First</label>
                    <input type="text" class="form-control" name="first" aria-describedby="emailHelp" placeholder="First Name">
                </div>

                <div class="form-group col-6">
                    <label for="last">Child Last</label>
                    <input type="text" name="last"class="form-control" placeholder="Last Name" aria-describedby="nameuser">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="ccccapassword">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="safepswd">
                    <p style="color:blue">Make sure this password is safe!</p>
                </div>
                <div class="form-group col-6">
                    <label for="ccccapasswordconfirm">Password</label>
                    <input type="password" class="form-control" name="passwordconfirm" placeholder="Confirm Password" aria-describedby="safepswd">
                    <p style="color:blue"">Confirm your Password</p>
                </div>
                <style>
                    label {
                    color:blue;
                    }
                    body {
                    background-color:#a4e3e2;
                    }
                </style>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</body>
</html>