<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Child Registration</title>
    </head>
    <body>
        <form action="{{ url_for('childComplete')  }}">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="childfirstname">Child First Name</label>
                        <input type="text" class="form-control" name="childfirstname" placeholder="First Name">
                    </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="childlastname">Child Last Name</label>
                        <input type="text" class="form-control" name="childlastname" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="grade">Grade</label>
                        <input type="text" class="form-control" name="grade" placeholder="Grade">
                    </div>
                </div>
                <!--MAKE SURE TO DO DATE OF BIRTH LATER !!!!!!!!!!!!-->
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </body>
</html>