{% extends "layout.html" %}
{% block title %}
Classes
{% endblock %}
{% block style %}
    <style>
        #class {
            padding-top: 10px;
            padding-bottom: 20px;
        }
    </style>
{% endblock %}
{% block body %}
    {% for class in classes %}
        <div id=class>
            {{ class.className }}
            <div>
                Max children: {{ class.classNum }}
                Grade: {{ class.classGrade }}
                Description: {{ class.classDesc }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
