{% extends "layout.html" %}
{% block title %}
Create a Class
{% endblock %}
{% block body %}
    {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
    {% endfor %}
    <form action = "{{ url_for('classCreateComplete') }}" method="POST">
        <div>
            <label for="className">Class Name:</label>
            <input type="text" name="className">
        </div>        
        <div>
            <label for="classNum">Maximum Students:</label>
            <input type="number" name="classNum">
        </div>
        <div>
            <label for="classGrade">Target Grade:</label>
            <input type="text" name="classGrade">
        </div>

        <div>
            <label for="classDesc">Description:</label>
            <input type="text" name="classDesc">
            <small class="form-text text-muted">A short description of the class</small>
        </div>
        <button id='buttono'type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

