<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>CCCCA</title>
    </head>
    <body>
        {% if loginCheck is false %}
            <form action = "{{ url_for('signup') }}" method="POST">
                <button class=btn btn-primary>Sign Up</button>
            </form>
            <form action = "{{ url_for('login') }}" method="POST">
                <button class=btn btn-primary>Log In</button>
            </form>
        {% else %}
        <form action = "{{ url_for('logout') }}" method="POST">
            <button class=btn btn-primary>Log Out</button>
        </form>
            {% if teacher == 0 %}
            <form action = "{{ url_for('child') }}" method="POST">
                <button class=btn btn-primary>Child Registration</button>
            </form>
            {% else %}
            <form>
                <button class=btn btn-primary>Create a Class</button>
            </form>
            {% endif %}
        {% endif %}
        <p>
            {{ message }}
        </p>
        <div>
            {% if teacher == 1 %}
                <p>You are a teacher.</p>
            {% else %}
                <p>You are not a teacher.</p>
            {% endif %}
        </div>
        <ul>
            {% for i in children %}
                {% if i is not none %}
                    <li>{{ i|join(' ') }}</li>
                {% else %}
                    none
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>