<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>CCCCA</title>
    </head>
    <body>
        <form action = "{{ url_for('signup') }}" method="POST">
            <button class=btn btn-primary>Sign Up</button>
        </form>
        <form action = "{{ url_for('login') }}" method="POST">
            <button class=btn btn-primary>Log In</button>
        </form>
    </body>
</html>